@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

button {
    background-color: #F4C430;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 2px;
}