.searchContainer {
  display: flex;
  justify-content:space-around; 
  align-items: center;
}
.threatButtons {
  display: flex;
  gap: 10px;
}
.threatContainer{
  background-color: #B7B7A4;
  padding: 0.5%;
  border-radius: 5px;
  align-items: center;
  margin: aut;
}

.threatTitle{
text-align: center;
margin: auto;
}

.regionContainer{
  background-color: #B7B7A4;
  padding: 0.5%;
  border-radius: 5px;
  align-items: center;
  margin: aut;
}

.regionButtons {
  display: flex;
  gap: 10px;
}
